[
    { "value": ".", "fields": "*", "labels": "trash" },
    { "value": "credit", "fields": "subject", "labels": "spam" },
    { "value": "casino", "fields": "*", "labels": "*" },
    { "value": "lucky|winner", "fields": "body", "labels": "spam" },
    { "value": "pharma", "fields": "subject,snippet", "labels": "spam" }
]