[
    { "value": ".", "fields": "*", "labels": "trash,deleted items" },
    { "value": "credit", "fields": "subject", "labels": "spam,junk email" },
    { "value": "casino", "fields": "*", "labels": "*" },
    { "value": "lucky|winner", "fields": "body", "labels": "spam,junk email" },
    { "value": "pharma", "fields": "subject,snippet", "labels": "spam,junk email" }
]